
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/stylesheets/StyleSheet1.css" rel="stylesheet" />
</head>
<body>

</body>
</html>
