
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheet/StyleSheet1.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div id="mainBox">
        <header>
            <img id="image" src="~/res/cadena_ico.png" />
            <span id="titreW">Window</span>
        </header>
    </div>
</body>
</html>
