@model List<GestionEtudian_OMG_WHAT_A_EXERCICE.Models.Etudiant>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <title>Index</title>
    <script type="text/javascript">
        function GetStudentInfo() {
            var mat = $('#Matricule').val();
            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '/Home/GetStudentInfo/' + mat,
                success: function (etudiant) {
                    alert(etudiant.Nom);
                    $('#Nom').text(etudiant.Nom);
                    $('#Prenom').text(etudiant.Prenom);
                    $('#Localite').text(etudiant.Localite);

                }
            });
        }
    </script>
</head>
<body>
    <div> 
        <form>
            <select id="Matricule" onchange="GetStudentInfo();">
                <option value="" disabled selected>-- selectionner un matricule--</option>
                    @foreach(var etudiant in @Model)
                    {
                        <option value="@etudiant.Matricule">@etudiant.Matricule</option>
                    }
            </select><br />
            <label>Nom : </label><span id="Nom"></span><br />
            <label>Prenom : </label><span id="Prenom"></span><br />
            <label>Localite : </label><span id="Localite"></span><br />
        </form>
    </div>
</body>
</html>
